# GEMINI_API_KEY: Required for Gemini AI API calls.
# This is a placeholder key.
# AI Studio automatically injects this at runtime from user secrets.
# Users configure this via the Secrets panel in the AI Studio UI.
GEMINI_API_KEY=your_api_key_here

# Firebase configurations provided by the user
FIREBASE_API_KEY=AIzaSyBWIpxpWJfdp-XoKoiJ9EZUlA1XfPpAkXw
FIREBASE_PROJECT_ID=license-sathi
# Android app ID from google-services.json
FIREBASE_APPLICATION_ID=1:210426294158:android:d9dca972f2e04543d2bedf
FIREBASE_DATABASE_URL=https://license-sathi-default-rtdb.asia-southeast1.firebasedatabase.app
FIREBASE_STORAGE_BUCKET=license-sathi.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=210426294158
GOOGLE_WEB_CLIENT_ID=210426294158-pgm2en84umfdmk6o4sllevnpqri7eo0o.apps.googleusercontent.com

# C:\Users\somth\AppData\Local\Android\Sdk\platform-tools\adb.exe connect PHONE_IP:5555

# C:\Users\somth\AppData\Local\Android\Sdk\platform-tools\adb.exe tcpip 5555
# C:\Users\somth\AppData\Local\Android\Sdk\platform-tools\adb.exe install -r "C:\Users\somth\Downloads\license-sathi\app\build\outputs\apk\debug\app-debug.apk"

